body.bg
{
	background-image:url(image/cover2.jpg);
    background-size: cover;
}
div.content
{
	background-color: transparent;
	box-shadow: 5px;
	margin-left: 33%;
    margin-top:70px;
    margin-right: 33%;
    border-radius:40px;
    box-shadow:0px 20px 20px 20px rgba(2,2,2,2);
    transition:0.5s;
}
.content:hover
{
     background-color:white;
     transform:translate(20px,20px);
}
div.image
{
    margin-left:45%;
}

h1.content_heading
{
     margin-top:20px;
     margin-left:75px;

}

input.input
{
	margin-left:77px;
	margin-top:10px;
    margin-bottom:30px;
    padding:10px;
    font-size: 20px;
    background-color: transparent;
    border:none;
    border-bottom: 1.5px solid black;
}
input.submit
{
	margin-left:70px;
	margin-top:10px;
    margin-bottom:15px;
    padding:10px;
    font-size: 20px;
    box-shadow:0 3px 8px rgba(0,0,0,4);
    border-radius:10px;
    border:none;
}
.tt
{
     color:red;
     margin-left:70px;
}

.voting
{

    float:left;
    height:200px;
    width:200px;
    margin-left: 50px;
}


.vote
{
    margin-left:300px;
    margin-right: 100px;
    height:200px;
    width:600px;
    margin-top:10px;
    border-radius:30px;
    background-color: green;
    box-shadow:0 20px 20px rgba(0,0,0,5);
    cursor: pointer;


}

.vote:hover
{
    background-color:red;
    
}
.can
{
    margin-top:60px;
}

.ab
{
    text-decoration:none;
     color:white;
    
}

.ab:hover
{
    color:blue;


}







