body.body{
	background-image: url(image/code.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
}
h1{
	font-size: 44px;
	text-align: center;
	font-family: sans-serif;
	color:white;
}

.Button
{
	text-decoration:none;
	color:white;
	font-size:15px;
	background-color:transparent;
	margin-left:35px;
	margin-right:35px;
	border-radius: 10px;


}
.Button:hover
{
	background-color:green;
	padding:8px;

}


.left
{
    float:right;
}

.hasecode
{
	height:300px;
	width:300px;
	margin-left:38%;
	margin-top: 10%;
	background-color: white;
	border-radius:10px;


}

.hase
{
    font-size:40px;
    color:red;
    padding:30px;
    text-align: center;


}
.submit
{
    padding:10px;
    font-size:20px;
    margin-top:30%;
    margin-left:11%;
    border-radius:10px;

}



